@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

@* <img src="https://i.imgur.com/IX3bajc.png" class="img-fluid" alt="Blazor Bar Chart - API Documentation" /> *@

<DemoLink Href="@RouteConstants.Demos_Grid_Documentation" />

@* <Section Class="p-0" Size="HeadingSize.H4" Name="Grid Parameters" PageUrl="@pageUrl" Link="grid-parameters">
    <DocxTable TItem="Grid<TItem>" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="GridColumns Parameters" PageUrl="@pageUrl" Link="grid-columns-parameters">
    <DocxTable TItem="GridColumns" DocType="DocType.Parameters" />
</Section> *@

<Section Class="p-0" Size="HeadingSize.H4" Name="GridColumn Parameters" PageUrl="@pageUrl" Link="grid-column-parameters">
    <DocxTable TItem="GridColumn<TItem>" DocType="DocType.Parameters" />
</Section>

@* <Section Class="p-0" Size="HeadingSize.H4" Name="GridDetailView Parameters" PageUrl="@pageUrl" Link="grid-detail-view-parameters">
    <DocxTable TItem="GridDetailView<TItem>" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="GridEmptyDataTemplate Parameters" PageUrl="@pageUrl" Link="grid-empty-data-template-parameters">
    <DocxTable TItem="GridEmptyDataTemplate<TItem>" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="GridLoadingTemplate Parameters" PageUrl="@pageUrl" Link="grid-loading-template-parameters">
    <DocxTable TItem="GridLoadingTemplate<TItem>" DocType="DocType.Parameters" />
</Section> *@

@code {
    private const string pageUrl = RouteConstants.Docs_Grid_Documentation;
    private const string pageTitle = "Grid";
    private const string pageDescription = "This documentation provides a comprehensive reference for the <code>Grid</code> component, guiding you through its configuration options.";
    private const string metaTitle = "Blazor Grid Component";
    private const string metaDescription = "This documentation provides a comprehensive reference for the Grid component, guiding you through its configuration options.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update

    public record TItem(); // Added for documentation purposes only
}
