@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

@if (Visible)
{
    <div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
        @if (!HideCloseButton)
        {
            <DeleteButton @onclick="CloseNotification" />
        }
        @ChildContent
    </div>
}