<table class="table is-bordered">
    <thead>
        <tr>
            <th>Icon Size</th>
            <th>Icon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>BootstrapIconSize.None</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.None" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.XSmall</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.XSmall" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.Small</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.Small" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.Medium</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.Medium" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.Large</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.Large" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.XLarge</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.XLarge" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.XXLarge</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.XXLarge" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
    </tbody>
</table>