@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@RouteConstants.Docs_BootstrapIcons_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(BootstrapIcon_Demo_01_How_it_works)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Icon text" PageUrl="@pageUrl" Link="icon-text">
    <Demo Type="typeof(BootstrapIcon_Demo_02_Icon_Text)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Colors" PageUrl="@pageUrl" Link="colors">
    <Demo Type="typeof(BootstrapIcon_Demo_03_Icon_Colors_A)" Tabs="true" />
    <Demo Type="typeof(BootstrapIcon_Demo_03_Icon_Colors_B_Text_Color)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Sizes" PageUrl="@pageUrl" Link="sizes">
    <Demo Type="typeof(BootstrapIcon_Demo_04_Icon_Sizes)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="All icons" PageUrl="@pageUrl" Link="all-icons">
    <Demo Type="typeof(BootstrapIcon_Demo_99_All_Icons)" Tabs="true" />
</Section>

@code{
    private const string pageUrl = RouteConstants.Demos_BootstrapIcons_Documentation;
    private const string pageTitle = "Bootstrap Icons";
    private const string pageDescription = "The <code>BootstrapIcon</code> component will display an icon from any icon font.";
    private const string metaTitle = "Blazor Bootstrap Icon Component";
    private const string metaDescription = "The Bootstrap Icon component will display an icon from any icon font.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
