@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

@* <img src="https://i.imgur.com/IX3bajc.png" class="img-fluid" alt="Blazor Bar Chart - API Documentation" /> *@

<DemoLink Href="@DemoRouteConstants.Demos_Hero_Documentation" />

<Section Class="p-0" Size="HeadingSize.H4" Name="Hero Parameters" PageUrl="@pageUrl" Link="hero-parameters">
    <DocxTable TItem="Hero" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="HeroHeader Parameters" PageUrl="@pageUrl" Link="hero-header-parameters">
    <DocxTable TItem="HeroHeader" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="HeroBody Parameters" PageUrl="@pageUrl" Link="hero-body-parameters">
    <DocxTable TItem="HeroBody" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="HeroTitle Parameters" PageUrl="@pageUrl" Link="hero-title-parameters">
    <DocxTable TItem="HeroTitle" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="HeroSubTitle Parameters" PageUrl="@pageUrl" Link="hero-subtitle-parameters">
    <DocxTable TItem="HeroSubTitle" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="HeroFooter Parameters" PageUrl="@pageUrl" Link="hero-footer-parameters">
    <DocxTable TItem="HeroFooter" DocType="DocType.Parameters" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Docs_Hero_Documentation;
    private const string pageTitle = "Hero";
    private const string pageDescription = "This documentation provides a comprehensive reference for the <code>Hero</code> component, guiding you through its configuration options.";
    private const string metaTitle = "Blazor Hero Component";
    private const string metaDescription = "This documentation provides a comprehensive reference for the Hero component, guiding you through its configuration options.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
