@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase
@typeparam TItem

<CascadingValue Value="@(this)" IsFixed="true">
    @ChildContent
</CascadingValue>

@if (columns.Any())
{
    <div class="@GridContainerClassNames" style="@GridContainerStyleNames">
        <table @ref="@Element" id="@Id" class="@CssClassNames" style="@CssStyleNames" @attributes="@AdditionalAttributes">
            <thead class="@GridTheadClassNames" style="@GridTheadStyleNames">
                <tr class="@GridTheadRowClassNames" style="@GridTheadRowStyleNames">
                    @foreach (var column in columns)
                    {
                        <th class="@column.ThClassNames" style="@column.ThStyleNames">
                            @if (column.HeaderTemplate is not null)
                            {
                                @column.HeaderTemplate
                            }
                            else
                            {
                                @column.HeaderText
                            }
                        </th>
                    }
                </tr>
            </thead>
            <tbody class="@GridTbodyClassNames" style="@GridTbodyStyleNames">
                @if (Items?.Any() ?? false)
                {
                    @foreach (var item in Items)
                    {
                        <tr>
                            @foreach (var column in columns)
                            {
                                <td id="@column.Id" class="@column.GridColumnCssClassNames" style="@column.GridColumnCssStyleNames" @attributes="@column.AdditionalAttributes">

                                    @if (column.CellTemplate is not null)
                                    {
                                        @column.CellTemplate
                                    }
                                    else
                                    {
                                        @column.ChildContent
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">Loading...</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}