@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DemoLink Href="@DemoRouteConstants.Demos_Form_CheckboxInput_Documentation" />

<Section Class="p-0" Size="HeadingSize.H4" Name="Preview" PageUrl="@pageUrl" Link="preview">
    <div style="max-width: 24rem;">
        <CheckboxInput @bind-Value="acceptTerms">
            I agree to the terms and conditions
        </CheckboxInput>
    </div>
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Parameters" PageUrl="@pageUrl" Link="parameters">
    <DocxTable TItem="CheckboxInput" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Methods" PageUrl="@pageUrl" Link="methods">
    <DocxTable TItem="CheckboxInput" DocType="DocType.Methods" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Events" PageUrl="@pageUrl" Link="events">
    <DocxTable TItem="CheckboxInput" DocType="DocType.Events" />
</Section>

@code {
    private const string componentName = nameof(CheckboxInput);
    private const string pageUrl = DemoRouteConstants.Docs_Form_CheckboxInput_Documentation;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, including its label content, checked state binding, and event parameters.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, including its label content, checked state binding, and event parameters.";
    private const string imageUrl = "";

    private bool acceptTerms = true;
}
