@attribute [Route(pageUrl)]

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@RouteConstants.Docs_Button_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(DeleteButton_Demo_01_How_it_works)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Sizes" PageUrl="@pageUrl" Link="sizes">
    <Demo Type="typeof(DeleteButton_Demo_03_Sizes_A)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_DeleteButton_Documentation;
    private const string pageTitle = "DeleteButton";
    private const string pageDescription = "<code>DeleteButton</code> component is a stand-alone element that can be used in different contexts.";
    private const string metaTitle = "Blazor Delete Button Component";
    private const string metaDescription = "DeleteButton component is a stand-alone element that can be used in different contexts.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
