@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

@* <img src="https://i.imgur.com/IX3bajc.png" class="img-fluid" alt="Blazor Bar Chart - API Documentation" /> *@

<DemoLink Href="@DemoRouteConstants.Demos_Tags_Documentation" />

<Section Class="p-0" Size="HeadingSize.H4" Name="Tag Parameters" PageUrl="@pageUrl" Link="tag-parameters">
    <DocxTable TItem="Tag" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Tags Parameters" PageUrl="@pageUrl" Link="tags-parameters">
    <DocxTable TItem="Tags" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="AddonTags Parameters" PageUrl="@pageUrl" Link="tags-parameters">
    <DocxTable TItem="AddonTags" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="GroupedAddonTags Parameters" PageUrl="@pageUrl" Link="tags-parameters">
    <DocxTable TItem="GroupedAddonTags" DocType="DocType.Parameters" />
</Section>

@code {
    private const string componentName = nameof(Tags);
    private const string pageUrl = DemoRouteConstants.Docs_Tags_Documentation;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, guiding you through its configuration options.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, guiding you through its configuration options.";
    private const string imageUrl = DemoScreenshotSrcConstants.Tag;
}
