@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@DemoRouteConstants.Docs_Tags_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="How it works" PageUrl="@pageUrl" Link="how-it-works">
    <Demo Type="typeof(Tag_Demo_01_How_it_works)" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Colors" PageUrl="@pageUrl" Link="colors">
    <Demo Type="typeof(Tag_Demo_02_Colors_A)" />
    <Demo Type="typeof(Tag_Demo_02_Colors_B_Light_version)" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Sizes" PageUrl="@pageUrl" Link="sizes">
    <Demo Type="typeof(Tag_Demo_03_Sizes_A)" />
    <Demo Type="typeof(Tag_Demo_03_Sizes_B_Are_Medium)" />
    <Demo Type="typeof(Tag_Demo_03_Sizes_C_Are_Large)" />
    <Demo Type="typeof(Tag_Demo_03_Sizes_D_Are_Medium_Mixed)" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Rounded" PageUrl="@pageUrl" Link="rounded">
    <Demo Type="typeof(Tag_Demo_04_Rounded)" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Hover state" PageUrl="@pageUrl" Link="hover-state">
    <Demo Type="typeof(Tag_Demo_05_Hover)" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Delete" PageUrl="@pageUrl" Link="delete">
    <Demo Type="typeof(Tag_Demo_06_Delete_A)" />
    <Demo Type="typeof(Tag_Demo_06_Delete_B_Rounded)" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="List of tags" PageUrl="@pageUrl" Link="list-of-tags">
    <Demo Type="typeof(Tag_Demo_07_List_of_tags_A)" />
    <Demo Type="typeof(Tag_Demo_07_List_of_tags_B)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Addon tags" PageUrl="@pageUrl" Link="addon-tags">
    <Demo Type="typeof(Tag_Demo_08_Addon_Tags_A)" Tabs="true" />
    <Demo Type="typeof(Tag_Demo_08_Addon_Tags_B)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Grouped addon tags" PageUrl="@pageUrl" Link="grouped-addon-tags">
    <Demo Type="typeof(Tag_Demo_09_Grouped_Addon_Tags_A)" Tabs="true" />
    <Demo Type="typeof(Tag_Demo_09_Grouped_Addon_Tags_B)" Tabs="true" />
</Section>

@code {
    private const string componentName = nameof(Tag);
    private const string pageUrl = DemoRouteConstants.Demos_Tags_Documentation;
    private const string pageTitle = componentName;
    private const string pageDescription = $"The <code>{componentName}</code> component is a small label to insert anywhere.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"The {componentName} component is a small label to insert anywhere.";
    private const string imageUrl = DemoScreenshotSrcConstants.Tag;
}
