@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@DemoRouteConstants.Docs_Dropdown_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Block>
        TODO: Add more documentation.
    </Block>
    <Demo Type="typeof(Dropdown_Demo_01_How_it_works)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Dropdown content" PageUrl="@pageUrl" Link="dropdown-content">
    <Block>
        TODO: Add more documentation.
    </Block>
    <Demo Type="typeof(Dropdown_Demo_02_Content)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Hoverable" PageUrl="@pageUrl" Link="hoverable">
    <Block>
        TODO: Add more documentation.
    </Block>
    <Demo Type="typeof(Dropdown_Demo_03_Hoverable)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Right aligned" PageUrl="@pageUrl" Link="right-aligned">
    <Block>
        TODO: Add more documentation.
    </Block>
    <Demo Type="typeof(Dropdown_Demo_04_Right_aligned)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Dropup" PageUrl="@pageUrl" Link="dropup">
    <Block>
        TODO: Add more documentation.
    </Block>
    <Demo Type="typeof(Dropdown_Demo_05_Dropup)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Icon only" PageUrl="@pageUrl" Link="icon-only">
    <Block>
        TODO: Add more documentation.
    </Block>
    <Demo Type="typeof(Dropdown_Demo_06_Icon_only)" Tabs="true" />
</Section>

@code {
    private const string componentName = nameof(Dropdown);
    private const string pageUrl = DemoRouteConstants.Demos_Dropdown_Documentation;
    private const string pageTitle = componentName;
    private const string pageDescription = $"An interactive <code>{componentName}</code> component for discoverable content.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"An interactive {componentName} component for discoverable content.";
    private const string imageUrl = DemoScreenshotSrcConstants.Dropdown;
}
