@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@RouteConstants.Docs_Button_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(Button_Demo_01_How_it_works)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Colors" PageUrl="@pageUrl" Link="colors">
    <Demo Type="typeof(Button_Demo_02_Colors_A)" Tabs="true" />
    <Demo Type="typeof(Button_Demo_02_Colors_B)" Tabs="true" />
    <Demo Type="typeof(Button_Demo_02_Colors_C_Light_Version)" Tabs="true" />
    <Demo Type="typeof(Button_Demo_02_Colors_D_Dark_Version)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Sizes" PageUrl="@pageUrl" Link="sizes">
    <Demo Type="typeof(Button_Demo_03_Sizes_A)" Tabs="true" />
    <Demo Type="typeof(Button_Demo_03_Sizes_B_Multiple_Buttons_Size_Small)" Tabs="true" />
    <Demo Type="typeof(Button_Demo_03_Sizes_C_Multiple_Buttons_Size_Medium)" Tabs="true" />
    <Demo Type="typeof(Button_Demo_03_Sizes_D_Multiple_Buttons_Size_Large)" Tabs="true" />
    <Demo Type="typeof(Button_Demo_03_Sizes_E_Multiple_Buttons_Size_And_Custom)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Full width" PageUrl="@pageUrl" Link="full-width">
    <Demo Type="typeof(Button_Demo_04_Full_Width)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Responsive sizes" PageUrl="@pageUrl" Link="responsive-sizes">
    <Demo Type="typeof(Button_Demo_05_Responsive_Sizes)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Styles" PageUrl="@pageUrl" Link="styles">
    <Demo Type="typeof(Button_Demo_06_Styles_A_Outlined)" Tabs="true" />
    <Demo Type="typeof(Button_Demo_06_Styles_B_Inverted)" Tabs="true" />
    <Demo Type="typeof(Button_Demo_06_Styles_C_Rounded)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Loading" PageUrl="@pageUrl" Link="loading">
    <Demo Type="typeof(Button_Demo_07_Loading)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Disabled" PageUrl="@pageUrl" Link="disabled">
    <Demo Type="typeof(Button_Demo_08_Disabled)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Click events" PageUrl="@pageUrl" Link="click-events">
    <Demo Type="typeof(Button_Demo_09_Click_Events)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_Button_Documentation;
    private const string pageTitle = "Button";
    private const string pageDescription = "Use the <code>Button</code> component to style actions in forms, dialogs, and more, with support for multiple sizes, states, and other options.";
    private const string metaTitle = "Blazor Button Component";
    private const string metaDescription = "Use the Button component to style actions in forms, dialogs, and more, with support for multiple sizes, states, and other options.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
