@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@DemoRouteConstants.Docs_Grid_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(Grid_Demo_01_How_it_works)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Data provider" PageUrl="@pageUrl" Link="data-provider">
    <Demo Type="typeof(Grid_Demo_02_DataProvider)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Paging" PageUrl="@pageUrl" Link="paging">
    <Demo Type="typeof(Grid_Demo_03_Paging)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Sorting" PageUrl="@pageUrl" Link="sorting">
    <Demo Type="typeof(Grid_Demo_04_Sorting)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Filters" PageUrl="@pageUrl" Link="filters">
    <div>TODO: Add demo</div>
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Grid state" PageUrl="@pageUrl" Link="grid-state">
    <div>TODO: Add demo</div>
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Detail view" PageUrl="@pageUrl" Link="detail-view">
    <div>TODO: Add demo</div>
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Nested grid" PageUrl="@pageUrl" Link="nested-grid">
    <div>TODO: Add demo</div>
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Footer template" PageUrl="@pageUrl" Link="footer-template">
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Empty data text" PageUrl="@pageUrl" Link="empty-data-text">
    <Demo Type="typeof(Grid_Demo_10_Empty_data_text)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Empty data template" PageUrl="@pageUrl" Link="empty-data-template">
    <Demo Type="typeof(Grid_Demo_11_Empty_data_template)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Loading template" PageUrl="@pageUrl" Link="loading-template">
    <Demo Type="typeof(Grid_Demo_12_Loading_template)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Set row height" PageUrl="@pageUrl" Link="set-row-height">
    <div>TODO: Add demo</div>
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Translations" PageUrl="@pageUrl" Link="translations">
    <div>TODO: Add demo</div>
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Events" PageUrl="@pageUrl" Link="events">
    <div>TODO: Add demo</div>
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Customizations" PageUrl="@pageUrl" Link="customizations">
    <div>TODO: Add demo</div>
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="A) Custom column headers" PageUrl="@pageUrl" Link="custom-column-headers">
    <div>TODO: Add demo</div>
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="B) Cell formating" PageUrl="@pageUrl" Link="cell-formating">
    <div>TODO: Add demo</div>
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_Grid_Documentation;
    private const string pageTitle = "Grid";
    private const string pageDescription = "Use <code>Grid</code> component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string metaTitle = "Blazor Grid Component";
    private const string metaDescription = "Use Grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
