@namespace BlazorExpress.Bulma.Demo.RCL
@inherits MainLayoutBase

<Navbar IsSpaced="true" HasShadow="true">
    <NavbarBrand>
        <NavbarBurger Class="custom" IsLeft="true" IsActive="isNavMenuToggleButtonActive" ActiveStateChanged="ShowMenu">
            <i class="bi bi-list"></i>
        </NavbarBurger>
        <NavbarItem Href="/" IsHoverable="false">
            <img src="_content/BlazorExpress.Bulma.Demo.RCL/icons/logo.png" alt="Blazor Express" />
            <span class="ml-2 is-size-5 has-text-weight-bold">Blazor Express</span>
        </NavbarItem>
        <NavbarBurger TargetId="navbarBasicExample1" IsActive="isNavbarBurgerActive" ActiveStateChanged="ShowNavbarMenu">
            <i class="bi bi-three-dots-vertical"></i>
        </NavbarBurger>
    </NavbarBrand>

    <NavbarMenu Id="navbarBasicExample1" IsActive="@isNavbarMenuActive">
        <NavbarStart>
            <NavbarItem Href="@DocsUrl">
                <i class="bi bi-file-text-fill has-text-primary mr-2"></i>Docs
            </NavbarItem>
            <NavbarItem Href="@BlogUrl">
                <i class="bi bi-newspaper has-text-warning mr-2"></i>Blog
            </NavbarItem>
        </NavbarStart>

        <NavbarEnd>
            <NavbarItem Href="@GithubUrl" target="_blank">
                <i class="bi bi-github"></i>
                <small class="is-hidden-desktop ml-2">GitHub</small>
            </NavbarItem>
            <NavbarItem Href="@TwitterUrl" target="_blank">
                <i class="bi bi-twitter-x"></i>
                <small class="is-hidden-desktop ml-2">Twitter</small>
            </NavbarItem>
            <NavbarItem Href="@LinkedInUrl" target="_blank">
                <i class="bi bi-linkedin"></i>
                <small class="is-hidden-desktop ml-2">LinkedIn</small>
            </NavbarItem>
            <NavbarItem Type="NavbarItemType.Div">
                <span class="tag is-link">@Version</span>
            </NavbarItem>

            <NavbarItem Type="NavbarItemType.Div" HasDropdown="true">
                <NavbarLink Class="be-theme-indicator"><i class="bi bi-sun"></i></NavbarLink>
                <NavbarDropdown Class="mt-2" Position="NavbarDropdownPosition.Right">
                    <NavbarItem Class="be-theme-item is-clickable" Type="NavbarItemType.Link" data-scheme="light" @onclick="SetLightTheme"><i class="bi bi-sun mr-2"></i>Light</NavbarItem>
                    <NavbarItem Class="be-theme-item is-clickable my-1" Type="NavbarItemType.Link" data-scheme="dark" @onclick="SetDarkTheme"><i class="bi bi-moon-stars-fill mr-2"></i>Dark</NavbarItem>
                    <NavbarItem Class="be-theme-item is-clickable" Type="NavbarItemType.Link" data-scheme="system" @onclick="SetAutoTheme"><i class="bi bi-circle-half mr-2"></i>Auto</NavbarItem>
                </NavbarDropdown>
            </NavbarItem>

        </NavbarEnd>
    </NavbarMenu>
</Navbar>

<div class="be-page">
    <Menu @ref="menuRef" Class="be-page-menu" IsScrollable="true" OnStateChanged="OnMenuStateChanged">

        @foreach (var group in linkGroups)
        {
            <MenuLabel Class="@group.CssClass">@group.Name</MenuLabel>
            if (group.Links?.Any() ?? false)
            {
                <MenuList>
                    @foreach (var link in group.Links)
                    {
                        <MenuItem><NavLink href="@link.Href" Match="@link.Match">@link.Text</NavLink></MenuItem>
                    }
                </MenuList>
            }
        }

        <MenuLabel Class="is-size-7 has-text-weight-bold has-text-info">Elements</MenuLabel>
        <MenuList>
            <MenuItem><NavLink href="@RouteConstants.Demos_Block_Documentation" Match="NavLinkMatch.All">Block</NavLink></MenuItem>
            <MenuItem><NavLink href="@RouteConstants.Demos_Box_Documentation" Match="NavLinkMatch.All">Box</NavLink></MenuItem>
            <MenuItem><NavLink href="/button" Match="NavLinkMatch.All">Button</NavLink></MenuItem>
            <MenuItem><NavLink href="/content" Match="NavLinkMatch.All">Content</NavLink></MenuItem>
        </MenuList>
        <MenuLabel Class="is-size-7 has-text-weight-bold has-text-primary">Components</MenuLabel>
        <MenuList>
            <MenuItem><a href="/menu">Breadcrumb</a></MenuItem>
            <MenuItem><a href="/menu">Card</a></MenuItem>
            <MenuItem><a href="/menu">Dropdown</a></MenuItem>
            <MenuItem><a href="/menu">Menu</a></MenuItem>
            <MenuItem><NavLink href="@RouteConstants.Demos_Message_Documentation" Match="NavLinkMatch.All">Message</NavLink></MenuItem>
            <MenuItem><a href="/message">Modal</a></MenuItem>
            <MenuItem><a href="/navbar">Navbar</a></MenuItem>
            <MenuItem><a href="/navbar">Pagination</a></MenuItem>
            <MenuItem><a href="/navbar">Panel</a></MenuItem>
            <MenuItem><a href="/navbar">Tabs</a></MenuItem>
        </MenuList>
        <MenuLabel Class="is-size-7 has-text-weight-bold has-text-link">Form</MenuLabel>
        <MenuList>
            <MenuItem><a href="/form/general">General</a></MenuItem>
            <MenuItem><a href="/form/input">Input</a></MenuItem>
            <MenuItem><a href="/form/text-area">Textarea</a></MenuItem>
            <MenuItem><a href="/form/select">Select</a></MenuItem>
            <MenuItem><a href="/form/checkbox">Checkbox</a></MenuItem>
            <MenuItem><a href="/form/radio">Radio</a></MenuItem>
            <MenuItem><a href="/form/file">File</a></MenuItem>
        </MenuList>
        <MenuLabel Class="is-size-7 has-text-weight-bold has-text-danger">Columns</MenuLabel>
        <MenuList>
            <MenuItem><a href="/basics">Basics</a></MenuItem>
            <MenuItem><a href="/box">Sizes</a></MenuItem>
            <MenuItem><a href="/button">Responsiveness</a></MenuItem>
            <MenuItem><a href="/button">Nesting</a></MenuItem>
            <MenuItem><a href="/button">Gap</a></MenuItem>
            <MenuItem><a href="/button">Options</a></MenuItem>
        </MenuList>
        <MenuLabel Class="is-size-7 has-text-weight-bold has-text-warning">Grid</MenuLabel>
        <MenuList>
            <MenuItem><a href="/block">Smart Grid</a></MenuItem>
            <MenuItem><a href="/box">Fixed Grid</a></MenuItem>
            <MenuItem><a href="/button">Grid Cells</a></MenuItem>
            <MenuItem><a href="/button">Playground</a></MenuItem>
        </MenuList>
        <MenuLabel Class="is-size-7 has-text-weight-bold has-text-success">Layout</MenuLabel>
        <MenuList>
            <MenuItem><a href="/container">Container</a></MenuItem>
            <MenuItem><a href="/hero">Hero</a></MenuItem>
            <MenuItem><a href="/section">Section</a></MenuItem>
            <MenuItem><a href="/level">Level</a></MenuItem>
            <MenuItem><a href="/media-object">Media Object</a></MenuItem>
            <MenuItem><a href="/footer">Footer</a></MenuItem>
        </MenuList>
    </Menu>

    <div class="be-page-body p-5">
        @Body
    </div>

    <MainLayoutBaseFooter Version="@Version"
                          DocsUrl="@DocsUrl"
                          BlogUrl="@BlogUrl"
                          GithubUrl="@GithubUrl"
                          TwitterUrl="@TwitterUrl"
                          LinkedInUrl="@LinkedInUrl"
                          OpenCollectiveUrl="@OpenCollectiveUrl"
                          GithubIssuesUrl="@GithubIssuesUrl"
                          GithubDiscussionsUrl="@GithubDiscussionsUrl"
                          StackoverflowUrl="@StackoverflowUrl" />

</div>
