<table class="table is-bordered">
    <thead>
        <tr>
            <th>Size</th>
            <th>Icon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>GoogleFontIconSize.None</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.None" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.XSmall</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.XSmall" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.Small</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.Small" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.Medium</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.Medium" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.Large</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.Large" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.XLarge</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.XLarge" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.XXLarge</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.XXLarge" IconContainerCssClass="@BulmaCssClass.Margin3" /></td>
        </tr>
    </tbody>
</table>
