@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@RouteConstants.Docs_Form_DateInput_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(DateInput_Demo_01_How_it_works)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Enable max min" PageUrl="@pageUrl" Link="enable-max-min">
    <Demo Type="typeof(DateInput_Demo_02_Enable_Max_Min_A_DateOnly)" Tabs="true" />
    <Demo Type="typeof(DateInput_Demo_02_Enable_Max_Min_B_DateOnly_Nullable)" Tabs="true" />
    <Demo Type="typeof(DateInput_Demo_02_Enable_Max_Min_C_DateTime)" Tabs="true" />
    <Demo Type="typeof(DateInput_Demo_02_Enable_Max_Min_D_DateTime_Nullable)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_Form_DateInput_Documentation;
    private const string pageTitle = "DateInput";
    private const string pageDescription = "The <code>DateInput</code> component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string metaTitle = "Blazor DateInput Component";
    private const string metaDescription = "The DateInput component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
