@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@RouteConstants.Docs_Form_DateInput_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(DateInput_Demo_01_How_it_works)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Enable max min" PageUrl="@pageUrl" Link="enable-max-min">
    <Demo Type="typeof(DateInput_Demo_02_Enable_Max_Min_A_DateOnly)" Tabs="true" />
    <Demo Type="typeof(DateInput_Demo_02_Enable_Max_Min_B_DateOnly_Nullable)" Tabs="true" />
    <Demo Type="typeof(DateInput_Demo_02_Enable_Max_Min_C_DateTime)" Tabs="true" />
    <Demo Type="typeof(DateInput_Demo_02_Enable_Max_Min_D_DateTime_Nullable)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Colors" PageUrl="@pageUrl" Link="colors">
    <Demo Type="typeof(DateInput_Demo_03_Colors)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Sizes" PageUrl="@pageUrl" Link="Sizes">
    <Demo Type="typeof(DateInput_Demo_04_Sizes)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Styles" PageUrl="@pageUrl" Link="styles">
    <Demo Type="typeof(DateInput_Demo_05_Styles)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="States" PageUrl="@pageUrl" Link="states">
    <Demo Type="typeof(DateInput_Demo_06_States)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Disabled" PageUrl="@pageUrl" Link="disabled">
    <Demo Type="typeof(DateInput_Demo_07_Disabled)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Validations" PageUrl="@pageUrl" Link="validations">
    <Demo Type="typeof(DateInput_Demo_08_Validations)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Alignment" PageUrl="@pageUrl" Link="alignment">
    <Demo Type="typeof(DateInput_Demo_09_Alignment)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Events: ValueChanged" PageUrl="@pageUrl" Link="events-value-changed">
    <Demo Type="typeof(DateInput_Demo_10_Events_ValueChanged)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_Form_DateInput_Documentation;
    private const string pageTitle = "DateInput";
    private const string pageDescription = "The <code>DateInput</code> component is constructed using an HTML input of type 'date' which limits user input based on pre-defined parameters. This component enables users to input a date using a text box with validation or a special date picker interface";
    private const string metaTitle = "Blazor DateInput Component";
    private const string metaDescription = "The DateInput component is constructed using an HTML input of type 'date' which limits user input based on pre-defined parameters. This component enables users to input a date using a text box with validation or a special date picker interface";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
