@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@RouteConstants.Docs_ProgressBar_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(ProgressBar_Demo_01_How_it_works)" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Colors" PageUrl="@pageUrl" Link="colors">
    <Demo Type="typeof(ProgressBar_Demo_02_Colors)" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Sizes" PageUrl="@pageUrl" Link="sizes">
    <Demo Type="typeof(ProgressBar_Demo_03_Sizes)" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Indeterminate" PageUrl="@pageUrl" Link="indeterminate">
    <Demo Type="typeof(ProgressBar_Demo_04_Indeterminate)" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Set width dynamically" PageUrl="@pageUrl" Link="set-width-dynamically">
    <Demo Type="typeof(ProgressBar_Demo_05_Set_width_dynamically)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Set color dynamically" PageUrl="@pageUrl" Link="set-color-dynamically">
    <Demo Type="typeof(ProgressBar_Demo_06_Set_color_dynamically)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Dynamic progress" PageUrl="@pageUrl" Link="dynamic-progress">
    <Demo Type="typeof(ProgressBar_Demo_07_Dynamically_progress)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_ProgressBar_Documentation;
    private const string pageTitle = "Progress Bar";
    private const string pageDescription = "The <code>Progress Bar</code> component is constructed using native <code><progress></code> HTML element.";
    private const string metaTitle = "Blazor Progress Bar Component";
    private const string metaDescription = "The Progress Bar component is constructed using native <progress> HTML element.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
