@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DemoLink Href="@DemoRouteConstants.Demos_GoogleFontIcons_Documentation" />

<Section Class="p-0" Size="HeadingSize.H4" Name="Screenshot" PageUrl="@pageUrl" Link="screenshot">
    <img src="@imageUrl" class="img-fluid" alt="@metaTitle" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Setup" PageUrl="@pageUrl" Link="setup">
    <Block>
        Before using google font icons, include the Google Font Icons CSS file in your project.
    </Block>
    <CodeChunk Class="mt-3" LanguageCode="LanguageCode.HTML" ProjectRootClassType="DemoAppConstants.ProjectRootClassType" FilePath="~\Pages\Docs\Icons\GoogleFontIcons\GoogleFontIcons_Install_Snippet.razor" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Setup" PageUrl="@pageUrl" Link="setup">
    <Block>
        Before using google font icons, include the Google Font Icons CSS file in your project.
    </Block>
    <CodeChunk Class="mt-3" LanguageCode="LanguageCode.HTML" ProjectRootClassType="DemoAppConstants.ProjectRootClassType" FilePath="~\Pages\Docs\Icons\GoogleFontIcons\GoogleFontIcons_Install_Snippet.razor" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Parameters" PageUrl="@pageUrl" Link="parameters">
    <DocxTable TItem="GoogleFontIcon" DocType="DocType.Parameters" />
</Section>

@code {
    private const string componentName = nameof(GoogleFontIcon);
    private const string pageUrl = DemoRouteConstants.Docs_GoogleFontIcons_Documentation;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, guiding you through its configuration options.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, guiding you through its configuration options.";
    private const string imageUrl = DemoScreenshotSrcConstants.GoogleFontIcon;
}
