@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<CascadingValue Value="@(this)" IsFixed="true">
    <div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>