@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<CascadingValue Value="@(this)" IsFixed="true">
    <nav @ref="@Element" id="@Id" class="@CssClassNames" style="@CssStyleNames" role="navigation" aria-label="main navigation" @attributes="@AdditionalAttributes">
        @ChildContent
    </nav>
</CascadingValue>
