@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

@if (Type == NavbarItemType.Link)
{
    <a @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" href="@Href" @attributes="@AdditionalAttributes">
        @ChildContent
    </a>
}
else
{
    <div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
        @ChildContent
    </div>
}