@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<a @ref="@Element"
   id="@Id"
   class="@CssClassNames"
   style="@CssStyleNames"
   role="button"
   aria-label="menu"
   aria-expanded="false"
   data-target="@TargetId"
   @attributes="@AdditionalAttributes"
   @onclick="ToggleNavbarBurgerActiveState">

    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    }

</a>
