@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<nav @ref="@Element" id="@Id" class="@CssClassNames" style="@CssStyleNames" role="navigation" aria-label="main navigation" @attributes="@AdditionalAttributes">
    @ChildContent
</nav>
