@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<a @ref="@Element" id="@Id" class="@CssClassNames" style="@CssStyleNames" href="@Href" @attributes="@AdditionalAttributes">
    @ChildContent
</a>
