@attribute [Route(pageUrl)]

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(Message_Demo_01_How_it_works)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_Message_Documentation;
    private const string pageTitle = "Message";
    private const string pageDescription = "The <code>Message</code> component is a simple, colored message block used to emphasize part of your page.";
    private const string metaTitle = "Blazor Message Component";
    private const string metaDescription = "The Message component is a simple, colored message block used to emphasize part of your page.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
