@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<CascadingValue Value="@(this)" IsFixed="true">
    <CascadingValue Name="ShowDeleteButton" Value="@ShowDeleteButton" IsFixed="true">
        @if (Visible)
        {
            <div @ref="@Element" id="@Id" class="@CssClassNames" style="@CssStyleNames" @attributes="@AdditionalAttributes">
                @ChildContent
            </div>
        }
    </CascadingValue>
</CascadingValue>