@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
    @ChildContent

    @if (!HideCloseButton)
    {
        <DeleteButton @onclick="CloseMessage" />
    }
</div>