<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.IsSquare" Src="@StringConstants.StaticAssets_Images_Placeholders_480x480_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is1by1" Src="@StringConstants.StaticAssets_Images_Placeholders_480x480_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is5by4" Src="@StringConstants.StaticAssets_Images_Placeholders_600x480_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is4by3" Src="@StringConstants.StaticAssets_Images_Placeholders_640x480_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is3by2" Src="@StringConstants.StaticAssets_Images_Placeholders_480x320_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is5by3" Src="@StringConstants.StaticAssets_Images_Placeholders_800x480_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is16by9" Src="@StringConstants.StaticAssets_Images_Placeholders_640x360_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is2by1" Src="@StringConstants.StaticAssets_Images_Placeholders_640x320_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is3by1" Src="@StringConstants.StaticAssets_Images_Placeholders_720x240_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is4by5" Src="@StringConstants.StaticAssets_Images_Placeholders_480x600_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is3by4" Src="@StringConstants.StaticAssets_Images_Placeholders_480x640_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is2by3" Src="@StringConstants.StaticAssets_Images_Placeholders_320x480_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is3by5" Src="@StringConstants.StaticAssets_Images_Placeholders_480x800_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is9by16" Src="@StringConstants.StaticAssets_Images_Placeholders_360x640_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is1by2" Src="@StringConstants.StaticAssets_Images_Placeholders_320x640_png" /></div>

<div class="mb-2" style="width: 10rem;"><Image Ratio="ImageRatio.Is1by3" Src="@StringConstants.StaticAssets_Images_Placeholders_240x720_png" /></div>
