@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DemoLink Href="@DemoRouteConstants.Demos_Tabs_Documentation" />

<Section Class="p-0" Size="HeadingSize.H4" Name="Screenshot" PageUrl="@pageUrl" Link="screenshot">
    <img src="@imageUrl" class="img-fluid" alt="@metaTitle" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Tabs Parameters" PageUrl="@pageUrl" Link="tabs-parameters">
    <DocxTable TItem="Tabs" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Tabs Methods" PageUrl="@pageUrl" Link="tabs-methods">
    <DocxTable TItem="Tabs" DocType="DocType.Methods" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Tabs Events" PageUrl="@pageUrl" Link="tabs-events">
    <DocxTable TItem="Tabs" DocType="DocType.Events" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Tab Parameters" PageUrl="@pageUrl" Link="tab-parameters">
    <DocxTable TItem="Tab" DocType="DocType.Parameters" />
</Section>

@code {
    private const string componentName = nameof(Tabs);
    private const string pageUrl = DemoRouteConstants.Docs_Tabs_Documentation;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, guiding you through its configuration options.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, guiding you through its configuration options.";
    private const string imageUrl = DemoScreenshotSrcConstants.Tabs;
}
