@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@DemoRouteConstants.Docs_Block_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Block>
        In this example, we will use the <code>Block</code> component to create a consistent margin between sibling HTML elements.
        As you can see, the first two blocks have a margin bottom applied, but the last block does not. 
        This is because the <code>Block</code> component applies a space on all the blocks, excpt the last one.
    </Block>
    <Demo Type="typeof(Block_Demo_01_How_it_works)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_Block_Documentation;
    private const string pageTitle = "Block";
    private const string pageDescription = "The <code>Block</code> component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string metaTitle = "Blazor Block Component";
    private const string metaDescription = "The Block component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
