@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<div @ref="@Element" id="@Id" class="@ContainerClassNames" style="@ContainerStyleNames">
    @for(int i = 0; i < Length; i++)
    {
        <input type="text" class="@ClassNames" style="@StyleNames" min="0" maxlength="1" />
    }
</div>