@namespace BlazorExpress.Bulma.Demo.RCL
@inherits BulmaComponentBase

<div @ref="@Element"
     id="@Id"
     class="@CssClassNames"
     style="@CssStyleNames"
     @attributes="@AdditionalAttributes">

    <div>
        <DynamicComponent Type="this.Type" />
    </div>
    @* <div>
    <pre>
    <code>
    @if(codeSnippet is not null)
    {
    <text>@codeSnippet.Trim()</text>
    }
    </code>
    </pre>
    </div> *@
</div>
