@namespace BlazorExpress.Bulma.Demo.RCL
@inherits BulmaComponentBase

<div @ref="@Element"
     id="@Id"
     class="@CssClassNames"
     style="@CssStyleNames"
     @attributes="@AdditionalAttributes">

    <div>
        <DynamicComponent Type="this.Type" />
    </div>
    <div>
        <pre>
            <code class="language-html">
                    @if (codeSnippet is not null)
                    {
                        <text>@codeSnippet</text>
                    }
            </code>
        </pre>
    </div>
</div>
