@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
    <div class="@BulmaCssClass.ModalBackground"></div>
    <!-- Modal card -->
    <div class="modal-card">
        <header class="modal-card-head">
            <!-- Title -->
            <p class="@TitleClassNames">
                @if (titleHtml is not null)
                {
                    @((MarkupString)titleHtml!)
                }
                else if (!string.IsNullOrWhiteSpace(title))
                {
                    @title
                }
            </p>
            <!-- Close button -->
            @if (!HideCloseButton)
            {
                <DeleteButton @onclick="OnNoClick" />
            }
        </header>
        <!-- Body -->
        <section class="@BodyClassNames">
            @if (!string.IsNullOrWhiteSpace(message))
            {
                @message
            }
            else if (messageHtml is not null)
            {
                @((MarkupString)messageHtml!)
            }
        </section>
        <!-- Footer -->
        <footer class="@FootClassNames">
            <div class="@BulmaCssClass.Buttons">
                <button class="@YesButtonClassNames" @onclick="OnYesClick">@yesButtonText</button>
                <button class="@NoButtonClassNames" @onclick="OnNoClick">@noButtonText</button>
            </div>
        </footer>
    </div>
</div>