@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@DemoRouteConstants.Docs_Form_NumberInput_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="How it works" PageUrl="@pageUrl" Link="how-it-works">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_01_How_it_works)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Generic type" PageUrl="@pageUrl" Link="generic-type">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_02_GenericType)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Placeholder" PageUrl="@pageUrl" Link="placeholder">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_03_Placeholder)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Colors" PageUrl="@pageUrl" Link="colors">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_04_Colors)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Sizes" PageUrl="@pageUrl" Link="sizes">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_05_Sizes)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Styles" PageUrl="@pageUrl" Link="styles">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_06_Styles)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="States" PageUrl="@pageUrl" Link="states">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_07_States)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Disabled" PageUrl="@pageUrl" Link="disabled">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_08_Disabled)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Alignment" PageUrl="@pageUrl" Link="alignment">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_09_Alignment)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Enable Min Max" PageUrl="@pageUrl" Link="enable-min-max">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_10_Enable_Min_Max)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="MaxLength" PageUrl="@pageUrl" Link="max-length">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_11_MaxLength)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Step" PageUrl="@pageUrl" Link="step">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_12_Step)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Validations" PageUrl="@pageUrl" Link="validations">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_98_Validations)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Value Changed" PageUrl="@pageUrl" Link="value-changed">
    <Block>
        TODO: Add description here.
    </Block>
    <Demo Type="typeof(NumberInput_Demo_99_Events_ValueChanged)" Tabs="true" />
</Section>

@code {
    private const string componentName = nameof(NumberInput<object>);
    private const string pageUrl = DemoRouteConstants.Demos_Form_NumberInput_Documentation;
    private const string pageTitle = componentName;
    private const string pageDescription = $"The <code>{componentName}</code> component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"The {componentName} component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string imageUrl = DemoScreenshotSrcConstants.NumberInput;
}
