@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<!-- Main container -->
<nav class="level">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <BootstrapIcon Name="BootstrapIconName.ChevronUp" Size="BootstrapIconSize.Medium" @onclick="PreviousPageAsync" title="Previous Page" />
            <BootstrapIcon Name="BootstrapIconName.ChevronDown" Size="BootstrapIconSize.Medium" @onclick="NextPageAsync" title="Next Page" />
        </div>
        <div class="level-item">
            <input class="input is-small" style="width:60px;" type="number" placeholder="Enter page number" />
            <div class="pl-2">of @pagesCount</div>
        </div>
    </div>

    <p class="level-item">
        <BootstrapIcon Name="BootstrapIconName.Dash" Size="BootstrapIconSize.Medium" @onclick="ZoomOutAsync" title="Zoom Out" />
        <span class="px-3"><strong>@zoomPercentage</strong></span>
        <BootstrapIcon Name="BootstrapIconName.Plus" Size="BootstrapIconSize.Medium" @onclick="ZoomInAsync" title="Zoom In" />
    </p>

    <!-- Right side -->
    <div class="level-right">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <BootstrapIcon Name="BootstrapIconName.ThreeDotsVertical" Size="BootstrapIconSize.Medium" />
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item px-2" @onclick="RotateClockwiseAsync"><BootstrapIcon Name="BootstrapIconName.ArrowClockwise" /> Rotate Clockwise</a>
                <a class="navbar-item px-2" @onclick="RotateCounterclockwiseAsync"><BootstrapIcon Name="BootstrapIconName.ArrowCounterclockwise" /> Rotate Counterclockwise</a>
                <a class="navbar-item px-2" @onclick="SwitchOrientationAsync"><BootstrapIcon Name="BootstrapIconName.Compass" /> Switch Orientation</a>
                <a class="navbar-item px-2" @onclick="FirstPageAsync"><BootstrapIcon Name="BootstrapIconName.ChevronBarUp" /> Go to First Page</a>
                <a class="navbar-item px-2" @onclick="LastPageAsync"><BootstrapIcon Name="BootstrapIconName.ChevronBarDown" /> Go to Last Page</a>
                <a class="navbar-item px-2" @onclick="ResetZoomAsync"><BootstrapIcon Name="BootstrapIconName.PlusSlashMinus" /> Reset Zoom</a>
            </div>
        </div>
    </div>
</nav>

<div class="@ClassNames" style="@StyleNames">
    <div class="d-flex justify-content-between bg-body-tertiary py-2 px-2">
        <div class="d-flex align-items-center">

            @* <NumberInput Class="form-control-sm text-center" TValue="int" Style="width:60px;" Value="@pageNumber" ValueExpression="() => pageNumber" ValueChanged="(value) => PageNumberChangedAsync(value)" Placeholder="Enter page number" /> *@
            <div class="pl-2">of @pagesCount</div>
            <div class="pl-2">of @pagesCount</div>
        </div>
        <div class="d-flex align-items-center">
            @* <Tooltip Class="me-2" Title="Print" role="button">
                <Icon Name="IconName.Printer" Size="IconSize.x5" @onclick="PrintAsync" />
            </Tooltip> *@
        </div>
    </div>

    <div class="bg-secondary-subtle text-center py-3 overflow-auto">
        <canvas @ref="@Element"
                id="@Id"
                @attributes="@AdditionalAttributes">
        </canvas>
    </div>
</div>