@attribute [Route(pageUrl)]
@attribute [Route(pageUrl2)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<Section Class="p-0" Size="HeadingSize.H2" Name="Documentation" PageUrl="@pageUrl" Link="documentation">
    <Block>
        Please find the getting started documentation links, corresponding to each .NET version and project type, listed below:
    </Block>
    <Block>
        <div class="table-container">
            <table class="table is-bordered is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th scope="col" style="width:48px;">#</th>
                        <th scope="col" style="width:164px;">.NET Version</th>
                        <th scope="col">Documentation Link</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>1</td>
                        <td>.NET 8</td>
                        <td><a href="/docs/getting-started/blazor-webassembly-net-8">Blazor WebAssembly (.NET 8)</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>.NET 8</td>
                        <td><a href="/docs/getting-started/blazor-webapp-server-global-net-8">Blazor WebApp (.NET 8) - Interactive render mode Server - Global location</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>.NET 8</td>
                        @* <td><a href="/docs/getting-started/blazor-webapp-auto-global-net-8">Blazor WebApp (.NET 8) - Interactive render mode Auto - Global location</a></td> *@
                        <td>TODO: Blazor WebApp (.NET 8) - Interactive render mode Auto - Global location</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>.NET 8</td>
                        @* <td><a href="/docs/getting-started/maui-blazor-net-8">MAUI Blazor Hybrid App (.NET 8)</a></td> *@
                        <td>TODO: MAUI Blazor Hybrid App (.NET 8)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </Block>
    <Block>&nbsp;</Block>
</Section>

@code {
    private const string pageUrl = RouteConstants.Docs_Getting_Started_Introduction;
    private const string pageUrl2 = RouteConstants.Docs_Prefix;
    private const string pageTitle = "Getting Started";
    private const string pageDescription = "Learn how to quickly set up <code>BlazorExpress.Bulma</code> in your Blazor project using dotnet templates or manual installation, and how to register required services.";
    private const string metaTitle = "Getting Started with BlazorExpress.Bulma";
    private const string metaDescription = "Step-by-step guide to using BlazorExpress.Bulma: dotnet templates, manual install, and service registration for Blazor apps.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
