@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DemoLink Href="@DemoRouteConstants.Demos_Message_Documentation" />

<Section Class="p-0" Size="HeadingSize.H4" Name="Screenshot" PageUrl="@pageUrl" Link="screenshot">
    <img src="@imageUrl" class="img-fluid" alt="@metaTitle" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Message Parameters" PageUrl="@pageUrl" Link="message-parameters">
    <DocxTable TItem="Message" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="MessageHeader Parameters" PageUrl="@pageUrl" Link="message-header-parameters">
    <DocxTable TItem="MessageHeader" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="MessageBody Parameters" PageUrl="@pageUrl" Link="message-body-parameters">
    <DocxTable TItem="MessageBody" DocType="DocType.Parameters" />
</Section>

@code {
    private const string componentName = nameof(Message);
    private const string pageUrl = DemoRouteConstants.Docs_Message_Documentation;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, guiding you through its configuration options.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, guiding you through its configuration options.";
    private const string imageUrl = DemoScreenshotSrcConstants.Message;
}
