@attribute [Route(pageUrl)]

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

@* <Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(Grid_Demo_01_How_it_works)" Tabs="true" />
</Section> *@

<Section Class="p-0" Size="HeadingSize.H3" Name="Data provider" PageUrl="@pageUrl" Link="data-provider">
    <Demo Type="typeof(Grid_Demo_02_DataProvider)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_Grid_Documentation;
    private const string pageTitle = "Grid";
    private const string pageDescription = "Use <code>Grid</code> component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string metaTitle = "Blazor Grid Component";
    private const string metaDescription = "Use Grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
