@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@DemoRouteConstants.Docs_Breadcrumb_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <div class="mb-3">
        The <b>Breadcrumb</b> component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_01_How_it_works)" Tabs="false" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Alignment" PageUrl="@pageUrl" Link="alignment">
    <div class="mb-3">
        By default, the <code>Breadcrumb</code> component aligns its children to the left.
        For alternate alignment use the <code>Alignment</code> parameter. The <b>Alignment</b> parameter accepts the following values: <b>Default</b>, <b>Center</b>, and <b>Right</b>.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_02_Alignment_A_Default)" Tabs="false" />
    <div class="mb-3">
        In the following examples, the <code>Breadcrumb</code> component is aligned to the center.
        For this to work, the <code>Alignment</code> parameter must be set to <b>Center</b>.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_02_Alignment_B_Center)" Tabs="false" />
    <div class="mb-3">
        In the following examples, the <code>Breadcrumb</code> component is aligned to the right.
        For this to work, the <code>Alignment</code> parameter must be set to <b>Right</b>.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_02_Alignment_C_Right)" Tabs="false" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Icons" PageUrl="@pageUrl" Link="icons">
    <div class="mb-3">
        You can add icons to the <code>Breadcrumb</code> component.
        Add <code><a href="@DemoRouteConstants.Demos_BootstrapIcons_Documentation">BootstrapIcon</a></code> or <code><a href="@DemoRouteConstants.Demos_GoogleFontIcons_Documentation">GoogleFontIcon</a></code> to the <code>BreadcrumbItem</code> component as a child content.
    </div>
    <div class="mb-3">
        In the following example, Bootstrap icons are used.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_03_Icons_A_BootstrapIcons)" Tabs="false" />
    <div class="mb-3">
        In the following example, Google Font icons are used.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_03_Icons_B_GoogleFontIcons)" Tabs="false" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Alternative seperators" PageUrl="@pageUrl" Link="alternative-seperators">
    <div class="mb-3">
        You can change the default separator between <code>BreadcrumbItem</code> components.
        Use the <code>Separator</code> parameter to change the separator.
        The <code>Separator</code> parameter accepts the following values: <b>Arrow</b>, <b>Bullet</b>, <b>Dot</b>, and <b>Succeeds</b>.
    </div>
    <div class="mb-3">
        In the following example, the separator is set to <b>Arrow</b>.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_04_Alternative_seperators_A_Arrow)" Tabs="false" />
    <div class="mb-3">
        In the following example, the separator is set to <b>Bullet</b>.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_04_Alternative_seperators_B_Bullet)" Tabs="false" />
    <div class="mb-3">
        In the following example, the separator is set to <b>Dot</b>.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_04_Alternative_seperators_C_Dot)" Tabs="false" />
    <div class="mb-3">
        In the following example, the separator is set to <b>Succeeds</b>.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_04_Alternative_seperators_D_Succeeds)" Tabs="false" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Sizes" PageUrl="@pageUrl" Link="sizes">
    <div class="mb-3">
        The <code>Breadcrumb</code> component has three sizes: <b>Small</b>, <b>Medium</b>, and <b>Large</b>.
        Use the <code>Size</code> parameter to change the size.
    </div>
    <div class="mb-3">
        In the following example, the size is set to <b>Small</b>.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_05_Sizes_A_Small)" Tabs="false" />
    <div class="mb-3">
        In the following example, the size is set to <b>Medium</b>.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_05_Sizes_B_Medium)" Tabs="false" />
    <div class="mb-3">
        In the following example, the size is set to <b>Large</b>.
    </div>
    <Demo Type="typeof(Breadcrumb_Demo_05_Sizes_C_Large)" Tabs="false" />
</Section>

@code {
    private const string componentName = nameof(Breadcrumb);
    private const string pageUrl = DemoRouteConstants.Demos_Breadcrumb_Documentation;
    private const string pageTitle = componentName;
    private const string pageDescription = $"The <code>{componentName}</code> component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"The {componentName} component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string imageUrl = DemoScreenshotSrcConstants.Breadcrumb;
}
