@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@RouteConstants.Docs_Breadcrumb_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(Breadcrumb_Demo_01_How_it_works)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_Breadcrumb_Documentation;
    private const string pageTitle = "Breadcrumb";
    private const string pageDescription = "The <code>Breadcrumb</code> component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string metaTitle = "Blazor Breadcrumb Component";
    private const string metaDescription = "The Breadcrumb component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
