@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@RouteConstants.Docs_Breadcrumb_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(Breadcrumb_Demo_01_How_it_works)" Tabs="false" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Alignment" PageUrl="@pageUrl" Link="alignment">
    <Demo Type="typeof(Breadcrumb_Demo_02_Alignment_A_Default)" Tabs="false" />
    <Demo Type="typeof(Breadcrumb_Demo_02_Alignment_B_Center)" Tabs="false" />
    <Demo Type="typeof(Breadcrumb_Demo_02_Alignment_C_Right)" Tabs="false" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Icons" PageUrl="@pageUrl" Link="icons">
    <Demo Type="typeof(Breadcrumb_Demo_03_Icons)" Tabs="false" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Alternative seperators" PageUrl="@pageUrl" Link="alternative-seperators">
    <Demo Type="typeof(Breadcrumb_Demo_04_Alternative_seperators)" Tabs="false" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Sizes" PageUrl="@pageUrl" Link="sizes">
    <Demo Type="typeof(Breadcrumb_Demo_05_Sizes_A_Small)" Tabs="false" />
    <Demo Type="typeof(Breadcrumb_Demo_05_Sizes_B_Medium)" Tabs="false" />
    <Demo Type="typeof(Breadcrumb_Demo_05_Sizes_C_Large)" Tabs="false" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_Breadcrumb_Documentation;
    private const string pageTitle = "Breadcrumb";
    private const string pageDescription = "The <code>Breadcrumb</code> component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string metaTitle = "Blazor Breadcrumb Component";
    private const string metaDescription = "The Breadcrumb component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
