@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<li @ref="@Element"
    id="@Id"
    class="@ClassNames"
    style="@StyleNames"
    @attributes="@AdditionalAttributes"
    @onclick="OnMenuItemClick">

    @if (!string.IsNullOrWhiteSpace(Href))
    {
        <NavLink href="@Href" Match="NavLinkMatch" ActiveClass="is-active">
            @ChildContent
        </NavLink>
    }
    else
    {
        @ChildContent
    }

    @* <NavLink href="@Href" Match="NavLinkMatch" ActiveClass="is-active">
        @ChildContent
    </NavLink> *@
</li>