@attribute [Route(pageUrl)]

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(Tabs_Demo_01_How_it_works)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Alignment" PageUrl="@pageUrl" Link="alignment">
    <Demo Type="typeof(Tabs_Demo_02_Alignment_A_Centered)" Tabs="true" />
    <Demo Type="typeof(Tabs_Demo_02_Alignment_B_Right)" Tabs="true" />
</Section>

<!-- TODO: tabs with icons -->

<Section Class="p-0" Size="HeadingSize.H3" Name="Sizes" PageUrl="@pageUrl" Link="sizes">
    <Demo Type="typeof(Tabs_Demo_03_Sizes_A_Small)" Tabs="true" />
    <Demo Type="typeof(Tabs_Demo_03_Sizes_B_Medium)" Tabs="true" />
    <Demo Type="typeof(Tabs_Demo_03_Sizes_C_Large)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Styles" PageUrl="@pageUrl" Link="styles">
    <Demo Type="typeof(Tabs_Demo_04_Styles_A_Boxed)" Tabs="true" />
    <Demo Type="typeof(Tabs_Demo_04_Styles_B_Rounded)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Full width" PageUrl="@pageUrl" Link="full-width">
    <Demo Type="typeof(Tabs_Demo_05_Full_Width)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Combined" PageUrl="@pageUrl" Link="combined">
    <Demo Type="typeof(Tabs_Demo_06_Combined_A_Centered_Boxed)" Tabs="true" />
    <Demo Type="typeof(Tabs_Demo_06_Combined_B_Boxed_Full_Width)" Tabs="true" />
    <Demo Type="typeof(Tabs_Demo_06_Combined_C_Rounded_Full_Width)" Tabs="true" />
    <Demo Type="typeof(Tabs_Demo_06_Combined_D_Centered_Boxed_Medium)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Methods" PageUrl="@pageUrl" Link="methods">
    <div class="table-container">
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Return type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GetActiveTab()</td>
                    <td><code>Tab</code></td>
                    <td>Gets the active tab.</td>
                </tr>
                <tr>
                    <td>RemoveTabByIndex(int tabIndex)</td>
                    <td>-</td>
                    <td>Removes the tab by index.</td>
                </tr>
                <tr>
                    <td>RemoveTabByName(string tabName)</td>
                    <td>-</td>
                    <td>Removes the tab by name.</td>
                </tr>
                <tr>
                    <td>ShowFirstTab()</td>
                    <td>-</td>
                    <td>Selects the first tab and show its associated pane.</td>
                </tr>
                <tr>
                    <td>ShowLastTab()</td>
                    <td>-</td>
                    <td>Selects the last tab and show its associated pane.</td>
                </tr>
                <tr>
                    <td>ShowTabByIndex(int tabIndex)</td>
                    <td><code>Tab</code></td>
                    <td>Selects the tab by index and show its associated pane.</td>
                </tr>
                <tr>
                    <td>ShowTabByName(string tabName)</td>
                    <td><code>Tab</code></td>
                    <td>Selects the tab by name and show its associated pane.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <Demo Type="typeof(Tabs_Demo_07_Methods)" Tabs="true" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Events" PageUrl="@pageUrl" Link="events">
    <div>
        When displaying a new tab, the events fire in the following sequence:

        <div class="table-container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Event args</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>OnHidden</td>
                        <td><code>TabEventArgs</code></td>
                        <td>This event fires after a new tab is shown (and thus the previous active tab is hidden).</td>
                    </tr>
                    <tr>
                        <td>OnShown</td>
                        <td><code>TabEventArgs</code></td>
                        <td>This event fires on tab show after a tab has been shown.</td>
                    </tr>
                    <tr>
                        <td>OnTabChanged</td>
                        <td><code>TabsEventArgs</code></td>
                        <td>This event fires when the user clicks the corresponding tab and the tab is displayed.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <Demo Type="typeof(Tabs_Demo_08_Events)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_Tabs_Documentation;
    private const string pageTitle = "Tabs";
    private const string pageDescription = "Documentation and examples for how to use <b>Tabs</b> component.";
    private const string metaTitle = "Blazor Tabs Component";
    private const string metaDescription = "Documentation and examples for how to use Tabs component.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
