@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

@if (ChildContent is not null)
{
    <span class="@TextClassNames">
        <span class="@IconContainerClassNames">
            <i id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes"></i>
        </span>
        <span>@ChildContent</span>
    </span>
}
else
{
    <span class="@IconContainerClassNames">
        <i id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes"></i>
    </span>
}