@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

@if (ChildContent is not null)
{
    <span class="@TextCssClassNames">
        <span class="@BulmaCssClass.Icon">
            <i id="@Id" class="@CssClassNames" style="@CssStyleNames" @attributes="@AdditionalAttributes"></i>
        </span>
        <span>@ChildContent</span>
    </span>
}
else
{
    <span class="@BulmaCssClass.Icon">
        <i id="@Id" class="@CssClassNames" style="@CssStyleNames" @attributes="@AdditionalAttributes"></i>
    </span>
}