@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

@if (ChildContent is not null)
{
    <span class="@TextCssClassNames">
        <span class="@IconContainerCssClassNames">
            <i id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes"></i>
        </span>
        <span>@ChildContent</span>
    </span>
}
else
{
    <span class="@IconContainerCssClassNames">
        <i id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes"></i>
    </span>
}