@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<CascadingValue Value="@(this)" IsFixed="true">
    @ChildContent
</CascadingValue>

@if (tabs?.Any() ?? false)
{
    <div class="tabs-continer @TabsContainerCssClass">
        <div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
            <ul>
                @foreach (Tab t in tabs)
                {
                    <li class="@(t.IsActive ? BulmaCssClass.IsActive : "")">
                        <a @onclick="() => ShowTab(t)">

                            @if (t.TitleTemplate is not null)
                            {
                                @t.TitleTemplate
                            }
                            else if (!string.IsNullOrWhiteSpace(t.Title))
                            {
                                @t.Title
                            }
                            else
                            {
                                <text>No Title</text>
                            }

                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="tabs-content">
            @foreach (Tab t in tabs)
            {
                <div @ref="@t.Element"
                     id="@t.Id"
                     class="@t.CssClass"
                     style="@t.Style"
                     @attributes="@t.AdditionalAttributes">

                    @t.ChildContent

                </div>
            }
        </div>
    </div>
}