<div style="max-width: 18rem;">
    <Menu>
        <MenuLabel>Components</MenuLabel>
        <MenuList>
            <MenuItem Href="@DemoRouteConstants.Demos_Menu_Documentation" Match="MenuItemMatch.All">Menu</MenuItem>
            <MenuItem Href="@DemoRouteConstants.Demos_Card_Documentation">Card</MenuItem>
        </MenuList>

        <MenuLabel>More Components</MenuLabel>
        <MenuList>
            <MenuItem Href="@DemoRouteConstants.Demos_Pagination_Documentation">Pagination</MenuItem>
            <MenuItem Href="@DemoRouteConstants.Demos_Message_Documentation">Message</MenuItem>
            <MenuItem Href="@DemoRouteConstants.Demos_Grid_Documentation">Grid</MenuItem>
        </MenuList>
    </Menu>
</div>
