<div style="max-width: 18rem;">
    <Menu>
        <MenuLabel>Navigation Components</MenuLabel>
        <MenuList>
            <MenuItem Href="@DemoRouteConstants.Demos_Navbar_Documentation">Navbar</MenuItem>
            <MenuItem>
                <a class="is-active">MenuItem Nesting</a>
                <MenuList>
                    <MenuItem Href="@DemoRouteConstants.Demos_Breadcrumb_Documentation">Breadcrumb</MenuItem>
                    <MenuItem Href="@DemoRouteConstants.Demos_Dropdown_Documentation">Dropdown</MenuItem>
                    <MenuItem Href="@DemoRouteConstants.Demos_Form_TextInput_Documentation">Text Input</MenuItem>
                </MenuList>
            </MenuItem>
            <MenuItem Href="@DemoRouteConstants.Demos_ConfirmDialog_Documentation">Confirm Dialog</MenuItem>
        </MenuList>
    </Menu>
</div>
