@namespace BlazorExpress.Bulma.Demo.RCL
@inherits MainLayoutBase

<BulmaLayout>
    <HeaderSection>
        <WebsiteNavbar BrandImgSrc="_content/BlazorExpress.Bulma.Demo.RCL/icons/logo.png"
                       BrandImgAltText="Blazor Express Logo"
                       ApplicationName="BlazorExpress.Bulma" />
    </HeaderSection>
    <ContentSection>
        @Body
        <div class="container is-max-desktop mb-4">
            <MainLayoutBaseFooter NugetPackageName="@NugetPackageName"
                                  NugetPackageDisplayName="@NugetPackageDisplayName"
                                  Version="@Version"
                                  DotNetVersion="@DotNetVersion"
                                  DocsUrl="@DocsUrl"
                                  BlogUrl="@BlogUrl"
                                  GithubUrl="@GithubUrl"
                                  NugetUrl="@NuGetUrl"
                                  TwitterUrl="@TwitterUrl"
                                  LinkedInUrl="@LinkedInUrl"
                                  OpenCollectiveUrl="@OpenCollectiveUrl"
                                  GithubIssuesUrl="@GithubIssuesUrl"
                                  GithubDiscussionsUrl="@GithubDiscussionsUrl"
                                  StackoverflowUrl="@StackoverflowUrl" />
        </div>
    </ContentSection>
    <FooterSection>
        <div class="container is-max-desktop mb-4">
        </div>
    </FooterSection>
</BulmaLayout>
