@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@DemoRouteConstants.Docs_Hero_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="How it works" PageUrl="@pageUrl" Link="how-it-works">
    <Demo Type="typeof(Hero_Demo_01_How_it_works)" Tabs="true" />
</Section>

@code {
    private const string componentName = nameof(Hero);
    private const string pageUrl = DemoRouteConstants.Demos_Hero_Documentation;
    private const string pageTitle = componentName;
    private const string pageDescription = $"The <code>{componentName}</code> component allows you to add a full-width banner to your webpage. Optionally, it can also span the full height of the page. Create an imposing hero banner to showcase your content.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"The {componentName} component allows you to add a full-width banner to your webpage. Optionally, it can also span the full height of the page. Create an imposing hero banner to showcase your content.";
    private const string imageUrl = DemoScreenshotSrcConstants.Hero;
}
