@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@DemoRouteConstants.Docs_Hero_Documentation" />

<Section Class="p-0" Size="HeadingSize.H3" Name="How it works" PageUrl="@pageUrl" Link="how-it-works">
    <Block>
        The <strong>Hero</strong> component creates a prominent, full-width banner section for your page, ideal for highlighting key content or messages. It can be used for headers, introductions, or calls to action.
        <br /><br />
        <strong>How to use:</strong>
        <div class="content mb-2">
            <ol>
                <li>Add the <code>Hero</code> component to your page to create a banner area.</li>
                <li>Place a <code>HeroBody</code> inside the <code>Hero</code> to define the main content area.</li>
                <li>Use <code>HeroTitle</code> and <code>HeroSubTitle</code> within <code>HeroBody</code> to display the main title and subtitle.</li>
            </ol>
        </div>
        This demo shows the basic structure for a hero banner, making it easy to highlight important information at the top of your page.
    </Block>
    <Demo Type="typeof(Hero_Demo_01_How_it_works)" Tabs="true" />
</Section>

@code {
    private const string componentName = nameof(Hero);
    private const string pageUrl = DemoRouteConstants.Demos_Hero_Documentation;
    private const string pageTitle = componentName;
    private const string pageDescription = $"The <code>{componentName}</code> component allows you to add a full-width banner to your webpage. Optionally, it can also span the full height of the page. Create an imposing hero banner to showcase your content.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"The {componentName} component allows you to add a full-width banner to your webpage. Optionally, it can also span the full height of the page. Create an imposing hero banner to showcase your content.";
    private const string imageUrl = DemoScreenshotSrcConstants.Hero;
}
