@namespace BlazorExpress.Bulma
@inherits BulmaLayoutComponentBase

@if (HeaderSection is not null)
{
    @HeaderSection
}

<div class="@ClassNames">
    @if (SidebarSection is not null)
    {
        <div class="@SidebarSectionClassNames" style="@SidebarSectionStyleNames">
            @SidebarSection
        </div>
    }

    @if (ContentSection is not null)
    {
        <div class="@ContentSectionClassNames" style="@ContentSectionStyleNames">
            @ContentSection
        </div>
    }
</div>

@if (FooterSection is not null)
{
    <div class="@FooterSectionCssClassNames">
        @FooterSection
    </div>
}