@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

@if (Type == ButtonType.Link)
{
    <a @ref="@Element" id="@Id" class="@CssClassNames" style="@CssStyleNames" href="@Href" disabled="@IsDisabled" @attributes="@AdditionalAttributes">
        @ChildContent
    </a>
}
else
{
    <button @ref="@Element" type="@ButtonTypeString" id="@Id" class="@CssClassNames" style="@CssStyleNames" disabled="@IsDisabled" @attributes="@AdditionalAttributes">
        @ChildContent
    </button>
}