@namespace BlazorExpress.Bulma.Demo.RCL
@inherits ComponentBase
@typeparam TItem

<tr>
    <td class="has-text-primary text-opacity-75">@PropertyName</td>
    <td class="has-text-danger text-opacity-75">@PropertyTypeShortName</td>
    <td>@typeof(TItem).GetPropertyDefaultValue(PropertyName)</td>
    <td class="has-text-centered">
        @if (IsRequired)
        {
            <i class="bi bi-check-circle-fill has-text-success text-opacity-75"></i>
        }
    </td>
    <td>@((MarkupString)Description)</td>
    <td>@AddedVersion</td>
</tr>
