@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<nav @attributes="@AdditionalAttributes" class="@ClassNames" id="@Id" @ref="@Element" style="@StyleNames">
    <PaginationItem IsDisabled="ActivePageNumber == 1" @onclick="GoToPreviousPage" Type="PaginationLinkType.Previous">
        @if (PreviousButtonTemplate is not null)
        {
            @PreviousButtonTemplate
        }
        else
        {
            <text>Previous</text>
        }
    </PaginationItem>
    <PaginationItem IsDisabled="ActivePageNumber == TotalPages || TotalPages == 0 || TotalPages == 1" @onclick="GoToNextPage" Type="PaginationLinkType.Next">
        @if (PreviousButtonTemplate is not null)
        {
            @PreviousButtonTemplate
        }
        else
        {
            <text>Next</text>
        }
    </PaginationItem>
    <ul class="@BulmaCssClass.PaginationList">
        @if (PageFromInclusive > 1)
        {
            <PaginationItem @onclick="() => GoToPage(PageFromInclusive - 1)">...</PaginationItem>
        }
        @for (var i = PageFromInclusive; i <= PageToExclusive; i++)
        {
            var j = i; // local scope
            <li>
                <PaginationItem IsCurrentPage="ActivePageNumber == i" @onclick="() => GoToPage(j)">@j</PaginationItem>
            </li>
        }
        @if (PageToExclusive < TotalPages)
        {
            <PaginationItem @onclick="() => GoToPage(PageToExclusive + 1)">...</PaginationItem>
        }
    </ul>
</nav>