@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<li @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
    <a href="@Href" aria-current="@areaCurrent">
        @ChildContent
    </a>
</li>