@namespace BlazorExpress.Bulma
@inherits BulmaComponentBase

<nav @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes" aria-label="breadcrumbs">
    <ul>
        @ChildContent
    </ul>
</nav>